*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

.display-input{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color :rgb(48, 33, 118);
  color:white;
  
}
input{
  height:2rem;
  width:18rem;
  padding: 3.5px;
  outline: none;
  background-color: black;
  color: white;
}
.child-div{
  border:2px solid rosybrown;
  padding:25px;
}
button{
  margin-left: 7rem;
  width: 4rem;
  height:2rem;
  background-color: crimson;
  color: white;
}
.parent{
  display: flex;
  justify-content: center;
 align-items: center;
  
}
.heading{
  display:flex;
 border:1px solid black;
text-align: center;
  
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  width:45vw;
  height: 60vh;
  background-color: rgb(229, 115, 45);
}
img{
  width:200px;
  height:200px;
margin-left:20rem ;
border:1px solid pink;
padding:12px;
}
.parent{
  background-color: black;
  height: 100vh;
}